*{
    margin: 0; /* Extra margin given by Browser is neglected*/
    padding: 0; /* Extra padding given by Browser is neglected*/
    box-sizing: border-box;/*Container extra padding margin is added which is neglected*/
    font-family: 'Philosopher', sans-serif;
}


body{  /* for tag*/
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('../image/background.jpg');/*For gradient effect and background image*/
    background-size:100% 100%;
    margin: auto;
    
    /*For whoe background cover*/
    background-repeat:no-repeat;
    background-size: cover;
    max-width: 100%;
}
/***************For Navigation Bar************************/

nav{
    width: 100%;
    height:15vh;
    background: rgba(0,0,0,0.6);
    color:#fff;
    display:flex;/*Side by Side  the Logo and Navigation is kept */
    justify-content: space-between; /* Space between logo and navigation is kept */
    align-items: center;/* All the content is aligned exactly aligned at center vetically in its padding  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    width:25%; /* Width of BackpackNepal*/
    text-align: center;
    font-size: 38px;
    color:#fff    
}

.main-nav{ /*For setting overall properties like width and all of naviagtion bar*/
    width: 40%; /*It takes about 40% space of the whole  padding*/
    display:flex; /*It keeps them together */
    justify-content: space-around ; /*It creates equal spacing among them whole */
}

.main-nav ul{
    font-size: 0;
}

.main-nav li{ /*For editting and placing the main-navigation bar in correct order*/
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 5px 10px;
}


a{
    text-decoration: none;
}

.logo{
    width:25%; /* Width of BackpackNepal*/
    text-align: center;
    font-size: 38px;
    text-emphasis-color:#fff;

}
.logo a{
    color:#fff;
}

.logo a:hover{
    color:#fc6e20;
    transition: all .5s ease;/*For Animation*/
}

.main-nav a{   /* Inside menu class a tag is accessed and editting properties of Blog Vlog buttons*/
    color:#fff;
    font-weight: bold;
    width:16.66%; /* To occupy exact same width all three options*/
}
.main-nav a:hover{
    color:#fc6e20;
    transition: all .5s ease;/*For Animation*/
}

.first-child a{
    color:#fc6e20;
}
.first-child a:hover{
    color:#fff;
    transition: all .5s ease;
}


/*-------------------For Main Body -------------------*/

main{
    width:100%;
    height:100%;
    
}
.content{  /*For outter most box design 1st box layup*/
    width:800px;
    height:500px;
    position:relative;
    margin:6% auto;
    border-radius:15px;
    
    padding:5px;
    background: #fff;
    justify-content:center;
    align-items: center;
    text-align:center;
    flex-direction:column;

}


h1{
    font-weight:bold;
    margin:0;
}
h1{
    text-align: center;
    width:220px;
    color:#fc6e20;
    margin:35px auto;
    position: relative;
}


.social-icons{  /*For fb insta link icons*/
    margin:30px auto;
    text-align:center;
}

.social-icons img{   /*For fb insta link icons*/
    width: 50px;
    margin:0 12px;
    box-shadow:#fff;
    cursor:pointer;
    border-radius:30%;
    border: #fff;
}

.container{
    position:relative;
    transition:.5s;
}

.form-control{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    color:#fff;
    border-bottom:1px solid #999;
    outline:none;
    background: transparent;
}

span{
    widows: 100%;
    font-size: 12px;
    text-align: center;
    position: relative;
    color:#fff;

}


button{

    background: #fc6e20;
    color:#fff;
    border-radius:20px;/*It makes button round in edge*/
    border:none;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    padding:12px 45px;
    letter-spacing: 1px;
    transition: all .5s ease;/*For Animation*/
}

button:hover{
     background:#fff;
    color:#fc6e20;
}

.forgot a{
    text-decoration: none;
    color: #fc6e20;

}
 .forgot a:hover{
     color:#fff;
 }


/*----------------For Footer--------*/
footer{
    width:100%;
    text-align: center;/*For aligning text at the end in center*/
    justify-content: end;
    color: #fc6e20;
    background-color:rgba(0,0,0,0.6);;
    padding: 20px;
}

#pageFooter a{
    color:#fc6e20;
}

#pageFooter a:hover{
    color: #fff;
}

